<div *ngIf="!isSearchNow" class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
      <h3>Tags:</h3>
      <div class="btn-group" role="group" aria-label="Basic example">
        <div class="row">
          <div class="col">
            <button *ngFor="let tag of tags" type="button" class="btn btn-secondary" style="width:tag.number;50px" (click)="searchTag(tag.body)">{{tag.body}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h3 align="center">Last added t-shirts</h3>
      <ul class="products clearfix">
        <li *ngFor="let tshirt of lastTshirts; let i=index " class="product-wrapper">
          <a [routerLink]="['/TShirtPage', tshirt?.id]" class="product">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                <h1 align="center">{{tshirt.name}}</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-2"></div>
                <div class="col">
                  <div class="product-photo">
                    <img src={{tshirt.url}} alt="">
                  </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="w-100"></div>
               <div class="col">
                  <a *ngFor="let item of tshirt.rating">
                    <i *ngIf="item" class="fa fa-star-o fa-2x"></i>
                    <i *ngIf="!item" class="fa fa-star fa-2x"></i>
                  </a>
                </div>
                <div class="w-100"></div>
                <div class="col"><h3>{{tshirt.theme}}</h3></div>
                <div class="w-100"></div>
                <div class="col">
                 <p align="center">Description:<br>
                 {{tshirt.description}}</p>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="w-100"></div>
    <div class="col"><h3 align="center">Most popular t-shirts</h3></div>
    <div class="w-100"></div>
    <div class="col">
      <li *ngFor="let tshirt of popularTshirts; let i=index " class="product-wrapper">
        <a [routerLink]="['/TShirtPage', tshirt.id]" class="product">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h1 align="center">{{tshirt.name}}</h1>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-2"></div>
              <div class="col">
                <div class="product-photo">
                  <img src={{tshirt.url}} alt="">
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="w-100"></div>
              <div class="col">
                <a *ngFor="let item of tshirt.rating">
                  <i *ngIf="item" class="fa fa-star-o fa-2x"></i>
                  <i *ngIf="!item" class="fa fa-star fa-2x"></i>
                </a>
              </div>
              <div class="w-100"></div>
              <div class="col"><h3>{{tshirt.theme}}</h3></div>
              <div class="w-100"></div>
              <div class="col">
                <p align="center">Description:<br>
                  {{tshirt.description}}</p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </div>
  </div>
</div>
<div *ngIf="isSearchNow" class="container-fluid">
  <div class="col">
    <h3 align="center">Searched tshirt by {{tag}}</h3>
    <a [routerLink]="['']"  (click)="changeState()">Go to main page</a>
    <ul class="products clearfix">
      <li *ngFor="let tshirt of searchedTshirts; let i=index " class="product-wrapper">
        <a [routerLink]="['/TShirtPage', tshirt?.id]" class="product">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h1 align="center">{{tshirt.name}}</h1>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-2"></div>
              <div class="col">
                <div class="product-photo">
                  <img src={{tshirt.url}} alt="">
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="w-100"></div>
              <div class="col">
                <a *ngFor="let item of tshirt.rating">
                  <i *ngIf="item" class="fa fa-star-o fa-2x"></i>
                  <i *ngIf="!item" class="fa fa-star fa-2x"></i>
                </a>
              </div>
              <div class="w-100"></div>
              <div class="col"><h3>{{tshirt.theme}}</h3></div>
              <div class="w-100"></div>
              <div class="col">
                <p align="center">Description:<br>
                  {{tshirt.description}}</p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
