<ul class="products clearfix">
  <li *ngFor="let tshirt of TShirts" class="product-wrapper">
    <a [routerLink]="['/TShirtPage', tshirt.id]" class="product">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <div class="product-photo">
              <img src={{tshirt.url}} alt="">
            </div>
          </div>
          <div class="col">
           <p>Description:</p>
           <p>{{tshirt.description}}</p>
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>
<app-tag-cloud></app-tag-cloud>
<h1>{{role}}</h1>