<div class="container-fluid">
  <div class="row">
    <div class="col">
    <h1 align="center">Payment Page</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-lg-4"></div>
    <div class="col">
      <form   [formGroup]="form">
        <div class="form-group">
          <input  type="text"
                  class="form-control"
                  formControlName="email"
                  placeholder="Your email"/>
          <div *ngIf="form.controls['email'].errors && form.controls['email'].touched"
               style="color: red">
            Invalid Email!
          </div>
        </div>
      </form>
      <button class="btn-success" tybe="submit" (click)="buy()">Buy</button>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
