<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<h1 align="center">T-Shirt creating</h1>
<div class="container-fluide">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col">
        <form>
            <label >Name</label><br>
            <input class="form-control"
                   id="comment"
                   [(ngModel)]="name"
                   name="name"
                   placeholder="Input name*"/>
        </form>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="w-100"></div>
        <div class="col-lg-5"></div>
        <div class="col">
            <button type="btn" (click)="setTshirtGender('Male')">Male</button>
            <button type="btn" (click)="setTshirtGender('Female')">Female</button>
        </div>
        <div class="col-lg-5"></div>
        <div class="w-100"></div>
        <div class="col-lg-2"></div>
        <div class="col">
            <img src="assets/T-ShirtsModels/{{gender}}.png" id="meme">
        </div>
        <div class="col-lg-2">
            <table width="100%">
            <thead>
            <tr>
                <th scope="col">code</th>
                <th scope="col">color</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="col">#ffffff</th>
                <th class="col">white</th>
            </tr>
            <tr>
                <th class="col">#c0c0c0</th>
                <th class="col">silver</th>
            </tr>
            <tr>
                <th class="col">#808080</th>
                <th class="col">gray</th>
            </tr>
            <tr>
                <th class="col">#000000</th>
                <th class="col">black</th>
            </tr>
            <tr>
                <th class="col">#ff0000</th>
                <th class="col">red </th>
            </tr>
            <tr>
                <th class="col">#800000</th>
                <th class="col">maroon</th>
            </tr>
            <tr>
                <th class="col">#ffff00</th>
                <th class="col">yellow</th>
            </tr>
            <tr>
                <th class="col">#808000</th>
                <th class="col">olive</th>
            </tr>
            <tr>
                <th class="col">#00ff00</th>
                <th class="col">lime</th>
            </tr>
            <tr>
                <th class="col">#008000</th>
                <th class="col">green</th>
            </tr>
            <tr>
                <th class="col">#0000ff</th>
                <th class="col"> blue</th>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="w-100"></div>
        <div class="col-lg-4"></div>
        <div class="col">
              <div class="form-group">
              <form>
                  <label >Theme</label><br>
                      <mat-form-field>
                          <mat-label>Theme</mat-label>
                          <mat-select [formControl]="theme">
                              <mat-option>--</mat-option>
                              <mat-option *ngFor="let them of themes" [value]="them">
                                  {{them}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field><br>
                      <label >Tags</label>
                      <mat-form-field class="chip-list">
                          <mat-chip-list #chipList>
                              <mat-chip
                                      *ngFor="let tag of tags"
                                      [selectable]="true"
                                      [removable]="true"
                                      (removed)="remove(tag)"
                                      color="accent"
                                      selected>
                                  {{tag}}
                                  <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
                              <input
                                      placeholder="New tag..."
                                      #tagInput
                                      [formControl]="tagCtrl"
                                      [matAutocomplete]="auto"
                                      [matChipInputFor]="chipList"
                                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                      [matChipInputAddOnBlur]="true"
                                      (matChipInputTokenEnd)="add($event)">
                          </mat-chip-list>
                          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                              <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                                  {{tag}}
                              </mat-option>
                          </mat-autocomplete>
                      </mat-form-field>
                  <label >Description</label>
                  <textarea
                          class="form-control"
                          rows="5"
                          id="description"
                          [(ngModel)]="descr"
                          name="descr"
                          placeholder="Input smth*">
                  </textarea>
                  <div class="row">
                      <div class="col-lg-5"></div>
                      <div class="col">
                        <button type="submit" class="btn-lg btn-success" (click)="createTShirt()">
                          <span>   Save  </span>
                        </button>
                      </div>
                      <div class="col-lg-5"></div>
                  </div>
              </form>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
