<h1>T-Shirt creating</h1>
<div class="container-fluide">
  <img src="assets/T-ShirtsModels/Male.png" id="meme">
</div>
<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <div class="form-group">
      <form   [formGroup]="form">
          <label >Name</label><br>
          <input class="form-control"
                 id="comment"
                 formControlName="Name"
                 placeholder="Input name*"/>
          <label >Theme</label><br>
              <mat-form-field>
                <mat-select [(value)]="selectedTheme">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let theme of themes" value="theme">{{theme}}</mat-option>
                </mat-select>
              </mat-form-field><br>
          <label >Description</label>
          <textarea
                  class="form-control"
                  rows="5"
                  id="description"
                  formControlName="Description"
                  placeholder="Input smth*">
          </textarea>
        <button type="submit" class="btn btn-success" (click)="createTShirt()">
          <i class="fa fa-envelope-o"></i>
          <span> Save </span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
<div class="login-container" align = "center">
<label >Tags</label>
<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip
            *ngFor="let tag of tags"
            [selectable]="true"
            [removable]="true"
            (removed)="remove(tag)">
      {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
            placeholder="New fruit..."
            #tagInput
            [formControl]="tagCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
      {{tag}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
</div>