<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h1 class="my-0 mr-md-auto font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">T-shirts</font></font></h1>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
    <a class="p-2 text-dark" href="/add"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Create your design</font></font></a>
  </nav>
  <a *ngIf="!isAuthorized"
  	 class="btn btn-outline-primary" href="/login"><font style="vertical-align: inherit;">
  	<font style="vertical-align: inherit;">Log In</font></font>
  </a>
  <a *ngIf="isAuthorized" (click)="signOut()">Sign Out</a>
  <a class="btn btn-outline-primary" href="/AdminPage"><font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">Admin page</font></font>
  </a>
</div>
<router-outlet></router-outlet>
