<h1 align="center">Admin Page</h1>
<div class="container-fluide">
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Delete User</th>
      <th scope="col">Set User Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of Users">
      <th scope="row" #id>{{user.id}}</th>
      <a [routerLink]="['/profile', user.id]"><td>{{user.username}}</td></a>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td><a class="btn btn-outline-primary" (click)="delete(user.id)"><span style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">Delete</font></span></a></td>
    <td>
    	<div class="container-fluide">
    		<div class="row">
    			<div class="col">
			    	<div class="form-check">
						<label class="form-check-label">
						  	<input type="radio" class="form-check-input" name="optradio" value="USER" (change)="changeRole($event)">USER
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
						    <input ng-model="roles" type="radio" class="form-check-input" name="optradio" value="ADMIN" (change)="changeRole($event)">ADMIN
						</label>
					</div>
				</div>
				<div class="col">
					<a class="btn btn-outline-primary" (click)="setRole(user.id)"><span style="vertical-align: inherit;">
			    	<span style="vertical-align: inherit;">Set Role</span></span></a>
			    </div>
			</div>
		</div>
    </td>
    </tr>
  </tbody>
</table>
</div>
