<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluide">
	<div class="row">
		<div class="col-lg-4">
			<div class="product-photo">
        		<img src={{TShirt.url}}
      						alt="" width="600" height="600">
    		</div>
		</div>
		<div class="col">
			<h1>{{TShirt.name}}</h1>
			<p>Tags: <br>
			{{TShirt.tags}}</p>
			<p>Description:<br>
			{{TShirt.description}}</p>
			<div class="product-price">148$ <a class="cart-btn" href="#">Add to cart</a></div>
		</div>
		<div class="w-100"></div>
		<div class="col">
		<h1 align="center">Comments:</h1>
		</div>
		<div class="w-100"></div>
		<div class="col">
			<div class="row">
				<div class="col login-form-1" align="center">
					<div class="col-lg-4">
						<h3> User: date</h3>
						<p>Body</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>